
.outerDiv {
    text-align: center;
    margin-top: 200px;
}

.description {
    font-size: 50px;
}

.statement {
    font-size: 50px;
    padding: 15%;
}

#bottomText {
    padding: 10%;
}


#l1 {
    background-color: #c9c9c9;
}

#l2 {
    background-color: #7e7e7e;
}

#l3 {
    background-color: #313131;
}