
.outerDiv {
    text-align: center;
    margin-top: 200px;
}

.description {
    font-size: 50px;
}



#bottomText {
    padding: 10%;
}

/* Mobile sites should have bigger emoji */
@media (max-width:480px) {
    #e0 {
        font-size: 120px;
    }

    .statement {
        font-size: 50px;
        padding: 35%;
    }
}

@media (min-width:480px) {
    #e0 {
        font-size: 50px;
    }

    .statement {
        font-size: 50px;
        padding: 15%;
    }
}